html,body{margin: 0;padding:0;}html{overflow-x:hidden;font-size:62.5%;background: #f8f8f8;}::selection{background:#B0E2FF;color:#fff}body{font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;margin:0;height:100%;color:#0d0015;letter-spacing:.01em;font-size:1.5rem;-webkit-transition:-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);transition:transform .2s cubic-bezier(.4,.01,.165,.99),-webkit-transform .2s cubic-bezier(.4,.01,.165,.99);-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:none}
h1, h2, h3, h4, h5, h6 {margin: 0;padding: 0;}
dl dt,h1,h2,h3,h4,h5,h6,table th{font-weight:700}h1,h2,h3,h4,h5,h6{letter-spacing:-.04em;line-height:1.45em;color:#4a4a4a}
h4,h5,h6{margin:1em 0 .5em}h1{font-size:2.8rem}h2{font-size:2.4rem}h3{font-size:2rem}h4{font-size:1.8rem}h5{font-size:1.7rem}h6{font-size:1.6rem}p{margin:0.7em 0;}
@media only screen and (max-width:767px){code,h6{font-size:1.4rem}h1{font-size:2.6rem}h2{font-size:2.2rem}h3{font-size:1.8rem}h4{font-size:1.6rem}h5{font-size:1.5rem}}
@media only screen and (min-width:768px) and (max-width:1023px){h1{font-size:2.65rem}h2{font-size:2.25rem}h3{font-size:1.85rem}h4{font-size:1.65rem}h5{font-size:1.55rem}h6{font-size:1.45rem}}dl dd { margin-left: 0;}dl, ol, ul {margin: 0 0 .5em;}
article code{margin:0 1px 0 1px;color:red;padding:2px;background-color:#f2f2f2;border-radius:5px;vertical-align:middle;font-size:80%;font-family:Lato,"Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei",serif}article pre code{margin:0;padding:0;background-color:rgba(255,255,255,0);border-radius:5px;vertical-align:middle;font-size:80%;font-family:Lato,"Helvetica Neue",Arial,"Hiragino Sans GB",STHeiti,"Microsoft YaHei",serif}article pre{padding:5px;overflow:auto;font-size:85%;line-height:1.45;max-height:400px;border-radius:3px;margin-bottom:0;white-space:pre-wrap;border:1px solid #ccc}
article table{width:100%;max-width:100%;border:0;border-collapse:collapse;border-spacing:0}article table td,article table th{border:0}article table th{padding:6px 10px;border-bottom:2px solid #848484;text-align:left}article table td{padding:6px 10px;border-bottom:1px solid #d0d0d0}td{min-width:40px}
article table tr:nth-child(2n) {background: #f7f8f8;}
@media only screen and (max-width:768px){.content table{overflow:auto;display:block}}@media only screen and (min-width:767px){article table th{padding:6px 20px}article table td{padding:6px 20px}td{min-width:100px}}

a, a:hover {
    outline: none;
    color: #2479CC;
    text-decoration: none;
}
.suolue{font-size:16px;color: #444444;}
.wa{
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.container {
    max-width: 100%;
    margin: auto;
}
.container img {
    max-width: 100%;    margin: 6px 0;
}
.tutu{
  width:100px;
   height: 100px;  
object-fit: cover;    margin: 0 !important;
}
.postlist {
    padding: 10px;
    margin: 1rem;
min-height:100px;    background: #fff;
    word-break: break-all;
    border: 1px solid #eee;
}
.tu {    float: left;
        padding-right: 5px;
}

.ias-spinner {
    width: 36px;
    margin: auto;
    padding: 5px 0;
}
.ias-trigger a {
    color: #444444;
    font-weight: bold;
}
.ias-trigger {
    border: 1px solid #eee;
    padding: 10px;
    margin: 1rem;
    background: #fff;
}

/* Page nav */

.page-navigator {
  list-style: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}
.page-navigator li {
  display: inline-block;
  margin: 0 4px;
}
.page-navigator a {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.page-navigator a:hover {
  background: #EEE;
  text-decoration: none;
}

.page-navigator .current a {
  color: #444;
  background: #EEE;
}

/* ------------------
 * Comment list
 * --------------- */
.comment-list, .comment-list ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.comment-list li {
  padding: 14px;
  margin-top: 10px;
  border: 1px solid #EEE;
}
.comment-list li.comment-level-odd {
  background: #F6F6F3;
}
.comment-list li.comment-level-even {
  background: #FFF;
}
.comment-list li.comment-by-author {
  background: #FFF9E8;
}
.comment-list li .comment-reply {
float: right;
  font-size: .92857em;
}
.comment-meta a {
  color: #999;
  font-size: .92857em;
}
.comment-author {
  display: block;
  margin-bottom: 3px;
  color: #444;
}
.comment-author .avatar {
    float: left;
    margin-right: 10px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #eee;
}
.comment-author cite {
  font-weight: bold;
  font-style: normal;
}

/* Comment reply */
.comment-list .respond {
  margin-top: 15px;
  border-top: 1px solid #EEE;
}
.respond .cancel-comment-reply {
  float: right;
  margin-top: 15px;
  font-size: .92857em;
}
#comment-form label {
  display: block;
  margin-bottom: .5em;
  font-weight: bold;
}
#comment-form .required:after {
  content: " *";
  color: #C00;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
  padding: 5px;
  border: 1px solid #E9E9E9;
  width: 100%;

  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
button.submit{background-color: #1B9AF7;
    border: 0;
    color: #FFF;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
  padding: 0 30px;}
.biaoqing.newpaopao {
    width: 2rem;
    height: 2rem;
}
.time {
color: red;
margin-top: .2em;
}
#comments {
    word-break: break-all;
}
#comments p a {
    color: red;
}
.w .postlist{
    border: 0px;
}
